[submodule "themes/toha"]
	path = themes/toha
	url = https://github.com/younsiktech/toha.git
[submodule "public"]
	path = public
	url = http://github.com/younsiktech/younsiktech.github.io.git
	branch = main
